<!DOCTYPE html>

<head>
    <style type="text/css">
        #g-container {
            width: 100vw;
        }

        #g-container::before {
            content: '';
            position: fixed;
            height: 5px;
            left: 0;
            top: 0;
            background: #ffc107;
            animation-name: scale;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timeline: box-rotate;
            transform-origin: 0 50%;
        }

        @keyframes scale {
            0% {
                transform: scaleX(0);
            }

            100% {
                transform: scaleX(1);
            }
        }

        @scroll-timeline box-rotate {
            source: selector("#g-container");
            orientation: vertical;
        }
    </style>
</head>

<body>
    <div id="g-container">
        <p>当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯 CSS，模拟上述的两个转场动画。
            当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯 CSS，模拟上述的两个转场动画。
            当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline规范，也是可以大致实现的。本文就将尝试使用纯 CSS，模拟上述的两个转场动画。
            当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯
            CSS，模拟上述的两个转场动画。当然，这两处酷炫有意思的转场动画，基于最新的 CSS @scroll-timeline 规范，也是可以大致实现的。本文就将尝试使用纯 
            CSS，模拟上述的两个转场动画。</p>
    </div>
</body>

</html>